html, body {
    width: 100%;
    height: 100%;
}

div{
    width: 100%;
    padding: 2rem;
}

div > input {
    background: white;
    border-radius: 5%;
    border: solid 1px black;
    padding: 1rem;
}

div > button {
    background: white;
    border-radius: 5%;
    border: solid 1px black;
    padding: 1rem;
}

